<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">

</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <img src="images//9721038191595501126-32.png" alt="chef icon"><a class="navbar-brand" href="#">Chef Recipes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span>
            <div class="icons8-menu"></div>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav text-center">
            <li class="nav-item">
              <a class="nav-link" href="/api/users/login" data-bs-toggle="modal" data-bs-target="#exampleModal" id="login">Log In</a>
            </li>
            {{#if logged_in}}
            <nav>
              <button class="btn" id="logout">Log Out</button>
            </nav>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link" href="#">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li>
            <a class="nav-link" href="/api/recipe"><div class="tooltip-1"><i class="fa fa-plus plus-btn tooltip-1"></i><span class="tooltiptext">Add Your Recipe!</span>
            </div></a>
            </li>
    
          </ul>
        </div>
      </div>

    </nav>
    {{/if}}

  </header>
  <main class="container container-fluid mt-main">
    {{{ body }}}
  </main>

  <!-- footer -->
  <footer class="bd-footer py-5 mt-5">
      <div class="container py-5">
        <div class="row" id="contact">
          <div class="col-12">
            <img class="chef" src="images//9721038191595501126-32.png" alt="chef icon"><a href="#"><h2 class="fs-5">Chef Recipes</h2></a>
            <ul class="list-unstyled small text-muted">
              <li class="list-inline-item"><a href="mailto: millie_tsai@me.com" target="_blank"><i style="font-size:20px" class="fa list-item">&#xf0e0;</i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook list-item" aria-hidden="true" style="font-size:24px"></i></a></li>
              <li class="list-inline-item"><a href="#" target="_blank"><i style="font-size:24px" class="fa">&#xf099;</i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/explore/search/keyword/?q=food%20recipes" target="_blank"><i class="fa fa-instagram list-item" aria-hidden="true" style="font-size:24px"></i></a></li>
              <li class="mb-2">Designed and built by Chef Recipes Team.</li>
              <li class="mb-2">© 2021 Chef Recipes Team. All Rights Reserved.</li>
              <li><a href="https://icons8.com/icon/82749/menu">Menu icon by Icons8</a></li>
        
            </ul>
          </div>
    </footer>



  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>

