    <!-- Account Recipe Cards -->
    <div class="container-fluid empty-text">
        <p class="text-center">It's empty now. Start to create your recipe today!</p>
        <div class="text-center"><img src="https://media4.giphy.com/media/h2HTvVuKVS4daQaVuS/giphy.gif" width="50%" alt="cooking"></div>
    </div>