<div class="container img-center" id="recipes">
      <img class="recipe-image" src="images/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__2019__03__20190321-asparagus-miso-bearnaise-vicky-wasik-21-038cd7ef521a4bd087e9a7f77c5932a0.webp" class="img-fluid" alt="...">
      <div>
        <h3 class="text-orange">Asparagus Goes With Miso Béarnaise</h3>
        <p class="text-center">Center aligned text on all viewport sizes.</p>
      </div>
      <div>
        <h4 class="mt-x">Preparation & Cook Time</h4>
        <p class="text-center">20 mins</p>
      </div>
      <div>
        <h4 class="mt-x">Ingredients</h4>
        <p class="text-center">Center aligned text on all viewport sizes.</p>
      </div>
      <div>
        <h4 class="mt-x">Directions</h4>
        <p class="text-center">Center aligned text on all viewport sizes.</p>
        {{#each directions as |direction| }}
        <h5>{{direction}}</h5>
        {{/each}}
      </div>
      <div>
        <h4 class="mt-x">Nutrition Facts</h4>
        <p class="text-center mb-5">Center aligned text on all viewport sizes.</p>
      </div>
    
      
    </div>