:root {
    --white: white;
    --gray: rgb(92, 92, 92);
    --main: rgb(54, 54, 54);
    --light-grey: rgb(225, 225, 225);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    background-color: var(--white);
  }
  
  main {
    background-color: var(--white);
    display: flex;
  }

 
  
  /* Navbar */
  .collapse.navbar-collapse {
    margin-top: 2%;

  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(246, 246, 246, 0.972);
    box-shadow: 0 0 10px gray;
    position: fixed;
    width: 100%;
    z-index: 22;

  }
  
  .navbar-light .navbar-brand {
    color: orange;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.08em;
    /* margin-right: 2em; */
    margin-left: 0.5em;
  }
  
  .navbar-light .navbar-nav .nav-link {
    position: relative;
    color: var(--main);
    font-size: 1em;
    font-weight: 300;
    margin-right: 0.8em;
    margin-bottom: 20px;
    text-decoration: none;
    letter-spacing: 0.07em;
    justify-content: space-evenly;
    margin-left:1.5em;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 500;
    color: black;
  }
  
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  
  li.nav-item {
    margin-left: 0%;
  }
  
  

  
  /* Cards */
  .top-cards{
    margin-top: 9%;
    margin-bottom: 3%;
    justify-content: center;
    display: flex;
  }
  .small-cards{
    justify-content: center;
    display: flex;
    margin-bottom: 3%;

  }


  .btn-orange {
    background-color: orange;
    color: var(--white);
  }

  .card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

 
  

 
  
  /* footer */
  .py-5 {
    padding-top: 2em
!important;
    padding-bottom: 2em
!important;
}

  h2.fs-5 {
    color:orange;
    letter-spacing: 0.065em;
    font-weight: 600;
  }
   
  .chef {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color:rgb(129, 129, 129) ;
  }
  
  footer {
    text-align: center;
    background-color: rgba(246, 246, 246, 0.945);
    margin-top: 1.5em;
  }
  
  h5 {
    /* margin-top: 15px; */
    font-size: 1.1em;
    font-weight: 500;
    color: var(--main);
  }
  
  .list-inline-item {
    padding-left: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .list-inline-item a {
    position: relative;
    color: rgb(129, 129, 129);
    text-decoration: none;
  }
  
  .list-inline-item a:hover {
    color: orange;
  }
 
  

  
  /* Mobile Responsive */
  
  @media screen and (max-width: 992px) {
    .carousel-item .btn {
      top: 85%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .carousel-item .btn {
      top: 85%;
      font-size: 0.9em;
    }
  }
  
  @media screen and (max-width: 576px) {
    .carousel-item .btn {
      top: 85%;
      font-size: 0.8em;
    }
    .navbar .navbar-brand {
      font-size: 1.4em;
    }
  
    h3,
    .nav-link {
      font-size: 1.3em;
    }
    .lead,
    .list-group-item,
    p {
      font-size: 1em;
    }
    h5 {
      font-size: 0.9em;
    }
  }
  
  @media screen and (max-width: 478px) {
    .carousel-item .btn {
      top: 80%;
      font-size: 0.7em;
    }
    .navbar .navbar-brand {
      font-size: 1.2em;
    }
  
    h3,
    .nav-link {
      font-size: 1.2em;
    }
    .lead,
    .list-group-item,
    p {
      font-size: 1em;
    }
    .blockquote {
      font-size: 0.9em;
    }
    h5 {
      font-size: 0.9em;
    }
  }
  
  /* icon */
  .icons8-menu {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iIzY2NjY2NiI+PHBhdGggZD0iTTE0LjMzMzMzLDM1LjgzMzMzdjE0LjMzMzMzaDE0My4zMzMzM3YtMTQuMzMzMzN6TTE0LjMzMzMzLDc4LjgzMzMzdjE0LjMzMzMzaDE0My4zMzMzM3YtMTQuMzMzMzN6TTE0LjMzMzMzLDEyMS44MzMzM3YxNC4zMzMzM2gxNDMuMzMzMzN2LTE0LjMzMzMzeiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+")
      50% 50% no-repeat;
    background-size: 100%;
  }




  /* login page css*/

  .btn-secondary:hover{
    background-color: orange;
    color:black;
    border:none;
  }